table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1000px;
}

th {
    width: 25%;
}

.third-column {
    width: 50%;
}

td, th {
    padding: 13px;
}

.first-row {
    background-color: #158f8f;
    color: #000E0E;
}

.first-row:hover {
    background-color: #000E0E;
    color: #158f8f;
}

.second-row {
    background-color: #f5f515;
    color: #0E7070;
}

.second-row:hover {
    background-color: #0E7070;
    color: #f5f515;
}

.third-row {
    height: 26px;
}

.red {
    background: rgba(255, 0, 0, 0.5);
}

.blue {
    background: rgba(0,0,255,0.5);
}

.green {
    background: rgba(0,255,0,0.5);
}

.circle {
    height: 200px;
    width: 200px;
    border: black 2px solid;
    border-radius: 100%;
    box-sizing: border-box;
}

.circles-wrapper-position {
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: 40px;
}

.circles-wrapper-position .circle {
    position: fixed;
}

.circles-wrapper-position .red {
    left: 100px;
}

.circles-wrapper-position .blue {
    top: 300px;
    left: 25px;
}

.circles-wrapper-position .green {
    top: 300px;
    left: 175px;
}

.circles-wrapper-transform {
    height: 400px;
    width: 400px;
}

.circles-wrapper-transform .red {
    transform: translate(100px);
}

.circles-wrapper-transform .blue {
    transform: translate(25px, -75px);
}

.circles-wrapper-transform .green {
    transform: translate(175px, -275px);
}