table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1000px;
}

th {
    width: 25%;
}

.third-column {
    width: 50%;
}

td, th {
    padding: 13px;
}

.first-row {
    background-color: #158f8f;
    color: #000E0E;
}

.first-row:hover {
    background-color: #000E0E;
    color: #158f8f;
}

.second-row {
    background-color: #f5f515;
    color: #0E7070;
}

.second-row:hover {
    background-color: #0E7070;
    color: #f5f515;
}

.third-row {
    height: 26px;
}

.circles-wrapper {
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: 40px;
}

.red-circle, .blue-circle, .green-circle {
    position: fixed;
    height: 200px;
    width: 200px;
    border: black 2px solid;
    border-radius: 100%;
    box-sizing: border-box;
}

.red-circle {
    left: 100px;
    background: rgba(255, 0, 0, 0.5);
}

.blue-circle {
    top: 300px;
    left: 25px;
    background: rgba(0,0,255,0.5);
}

.green-circle {
    top: 300px;
    left: 175px;
    background: rgba(0,255,0,0.5);
}